.CartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.CartItem-figure {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  width: 55px;
  height: 60px;
  background-color: #eee;
  padding: 0 5px;
  border-radius: 3px;
}

.CartItem-image {
  margin: auto;
  transition: all .2s ease-in-out;
  max-width: 100%;
  height: auto;
}

.CartItem-info {
  flex: 1;
  padding-left: 10px;
}

.CartItem-name, .CartItem-price{
  margin: 0;
  font-size: 13px;
}

.CartItem-name {
  color: #8E8585;
  margin-bottom: 5px;
}

.CartItem-price {
  font-weight: 600;
}

.CartItem-delete {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #54A3FF;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 0;
  line-height: 15px;
  transform: translateY(-50%);
  font-size: 12px;
}

.CartItem:hover .CartItem-delete{
  display: block;
}
